body {
	padding: 20px;
}

section {
	margin-top: 30px;
}

.nav {
	margin-top: 30px;
	font-size: 32px;
}

.tab-content {
	margin-top: 30px;
}

table.squares {
	font-size: 24px;
	text-align: center;
	vertical-align: middle;
}

table.squares td {
	width: 100px;
	height: 100px;
	border: 1px solid black;
	position: relative;
}

table.squares td .player {
	position: absolute;
	top: 5;
	left: 5;
	right: 5;
	font-size: 14px;
}

table.squares .winnings {
	padding-top: 20px;
}

table.squares td.winner .winnings {
	color: green;
}

table.squares td.header {
	background-color: lightgrey;
	font-weight: bold;
}

.positive {
    color: green;
}

.negative {
    color: red;
}

.highlight-on-hover:hover {
	background-color: #EEEEEE;
	cursor: pointer;
}

.highlight {
    background-color: lightgreen !important;
}